.playing__container-controls {
  grid-column: 2 / -2;
  grid-row: 9 / span 1;
  display: grid;
  grid-template-columns: 7rem 1fr 7rem;
}

.playing__container-previousBtn {
  grid-column: 1 / span 1;
}

.playing__container-playBtn,
.playing__container-pauseBtn {
  grid-column: 2 / span 1;
  width: 8rem;
  height: 8rem;
  background-color: var(--color-primary);
}

.playing__container-nextBtn {
  grid-column: 3 / span 1;
}

.playing__container-playBtn svg,
.playing__container-pauseBtn svg {
  fill: white;
}
