.thumbnail {
  text-align: center;
  border: 0.5rem solid #050606;
  overflow: hidden;
  box-shadow: -2px -2px 20px 1px rgb(93, 93, 93);
  border-radius: 50%;
}

.thumbnail > img {
  width: 100%;
}

.thumbnail:hover {
  cursor: pointer;
  transform: scale(1);
  box-shadow: -2px -2px 10px 10px rgb(93, 93, 93);
}
