.playing__container-slider {
  grid-column: 2 / span 3;
  grid-row: 8 / span 1;
  position: relative;
}

.slider__normalLine {
  width: 100%;
  height: 6px;
  background-color: #050606;
  box-shadow: 1px 1px 1px 0px rgb(73, 73, 73);
  border-radius: 3px;
  overflow: hidden;
}

.slider__dot {
  width: 1.5rem;
  height: 1.5rem;
  background-image: radial-gradient(white, #7d5fff, white);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0%;
  transform: translate(-50%, -27%);
  z-index: 2;
}

@keyframes dotMoveRight {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

.slider__gradLine {
  width: 0%;
  height: 4px;
  background-color: #7d5fff;
  position: absolute;
  top: 10%;
  left: 0%;
  border-radius: 3px;
}

@keyframes lineMoveRight {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.playing__container-transparentLine {
  grid-column: 2 / span 3;
  grid-row: 8 / span 1;
  width: 100%;
  height: 4rem;
  transform: translate(0%, -40%);
  background-color: transparent;
  z-index: 3;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.hoverPointer:hover {
  cursor: pointer;
}
